<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>一覧</title>
</head>
<body>
<div class="container">
    <h1>一覧ページ</h1>
    <table class="table">
        <thead>
            <tr>
                <th>タイトル</th>
                <th>内容</th>
                <th>更新日時</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="memo : ${memoList}" th:object="${memo}">
                <td><a th:href="@{/memos/{id}(id=*{id})}" th:text="*{title}">(タイトル)</a></td>
                <td><a th:href="@{/memos/{id}(id=*{id})}" th:text="*{text}">(テキスト)</a></td>
                <td><a th:href="@{/memos/{id}(id=*{id})}" th:text="*{edit_time}">(更新日時)</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>